MCP_TIMEOUT=60
BOT_TOKEN=my-telegram-bot-token-here
OPENAI_API_URL="https://integrate.api.nvidia.com/v1/"
NVIDIA_API_KEY=your-nvidia-api-key-here
COINDESK_API_KEY=your-coindesk-api-key-here
CRYPTOPANIC_TOKEN=your-cryptopanic-token-here
AGNO_TELEMETRY=false